<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link th:href="@{/css/login.css}"
          href="../../static/css/login.css" rel="stylesheet">

</head>
<body>
<div class="login-container">
    <form th:action th:method="post" th:object="${loginForm}" class="login-form">
        <h2 class="login-title">로그인</h2>
        <div th:if="${#fields.hasGlobalErrors()}" class="error">
            <p th:each="err:${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <label for="id" class="login-label">아이디</label>
        <input type="text" th:field="*{id}" id="id" class="login-input"/>
        <p th:errors="*{id}" class="error"></p>

        <label for="password" class="login-label">비밀번호</label>
        <input type="password" th:field="*{password}" id="password" class="login-input"/>
        <p th:errors="*{password}" class="error"></p>

        <button type="submit" class="login-button">로그인</button>
        <button th:onclick="|location.href='@{/}'|" type="button" class="home-button">홈으로</button>
        <a th:href="|/oauth2/authorization/google|"><img th:src="@{/img/google_button.png}" src="/img/google_button.png"></a>
        <a th:href="|/oauth2/authorization/facebook|" class="custom-fb-login-button">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook Logo" style="width: 20px; vertical-align: middle; margin-right: 8px;">
            Facebook으로 계속하기
        </a>
        <a th:href="|/oauth2/authorization/naver|"><img th:src="@{/img/naver_button.png}" src="/img/naver_button.png"></a>
<!--        <a th:href="|https://kauth.kakao.com/oauth/authorize?client_id=${client_id}&redirect_uri=${redirect_uri}&response_type=code|"><img th:src="@{/img/kakao_login_button.png}" src="/img/kakao_login_button.png"></a>-->
    </form>
</div>

</body>
</html>
