body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
}

.join-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.join-form{
    width: 80%;
}
.join-title {
    font-size: 24px;
    margin-bottom: 1rem;
    color: #000000;
}

.join-label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    color: #3A3A3A;
}

.join-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #3A3A3A;
}

.join-input:focus {
    border-color: #6666ff;
    outline: none;
}

.join-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.home-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.join-button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 3px;
    font-size: 10px;
}
