<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="postForm:${postForms}" class="content-container" th:onclick="|location.href='@{/post/{id} (id=${postForm.postId})}'|">
    <div th:text="${postForm.title}">제목</div>
    <div th:if="${postForm.status==T(project.general_project.domain.RecruitmentStatus).COMP}" th:text="|모집 마감|"></div>
    <div th:if="${postForm.status==T(project.general_project.domain.RecruitmentStatus).READY}" th:text="|모집 중|"></div>
    <div th:text="${postForm.content}">내용</div>
</div>
<button th:onclick="|location.href='@{/join}'|" type="button">회원가입</button>
<button th:onclick="|location.href='@{/login}'|" type="button">로그인</button>
</body>
</html>