<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <link th:href="@{/css/post.css}" href="../static/css/post.css" rel="stylesheet">
</head>
<body>
<div class="post-container">
    <form th:action method="post" th:object="${postForm}" class="post-form">
        <h2 class="post-title">게시글</h2>

        <label for="title" class="post-label" >제목</label>
        <input type="text" th:field="*{title}" id="title" class="post-input" placeholder="제목을 입력하세요" disabled>
        <p th:errors="*{title}" class="error"></p>

        <label for="content" class="post-label">내용</label>
        <textarea th:field="*{content}" id="content" class="post-textarea" placeholder="내용을 입력하세요" disabled></textarea>
        <p th:errors="*{content}" class="error"></p>

        <div class="post-meta">
            <p class="post-writer"><strong>작성자:</strong> <span th:text="${postForm.writer}">작성자</span></p>
            <p class="post-date"><strong>작성일:</strong> <span th:text="${#temporals.format(postForm.create, 'yyyy-MM-dd HH:mm')}">작성일</span></p>
            <p class="post-recruitment"><strong>현재 모집 상태:</strong> <span th:text="${postForm.status==T(project.general_project.domain.RecruitmentStatus).COMP}?'모집 종료':'모집 중'">모집 상태</span></p>
        </div>
        <button th:if="${!isWriter} and ${postForm.status==T(project.general_project.domain.RecruitmentStatus).READY}" th:onclick="|location.href='@{/}'|" type="button" class="home-button">신청하기</button>
        <button th:if="${isWriter}" th:onclick="|location.href='@{/post/{postId}/edit (postId=${postForm.postId})}'|" type="button" class="home-button">수정하기</button>
        <button th:onclick="|location.href='@{/}'|" type="button" class="home-button">홈으로</button>
    </form>
</div>
</body>
</html>