<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팀 수정</title>
    <link th:href="@{/css/team.css}" href="../../static/css/team.css" rel="stylesheet">
</head>
<body>
<div class="team-container">
    <form th:action method="post" class="team-form" th:object="${editTeamForm}">
        <h2 class="team-title">팀 수정하기</h2>

        <label for="name" class="team-label">팀 이름</label>
        <input type="text" th:field="*{teamName}" id="name" class="team-input" placeholder="팀 이름을 입력하세요.">
        <p th:errors="*{teamName}" class="error"></p>


        <label for="leader" class="team-label">팀 주장</label>
        <input type="text" th:field="*{leaderUserId}" id="leader" class="team-input" disabled/>
        <input type="hidden" th:value="*{leaderUserId}" name="leaderUserId">

        <label class="team-label">팀원</label>
        <div id="members-container" class="members-container">
            <div th:each="m:*{members}" class="members-container-input-box">
                <input type="text" th:value="${m}" name="members" class="member-input" disabled/>
                <input type="hidden" th:value="${m}" name="members"/>
                <button th:if="${m!=editTeamForm.leaderUserId}" type="button" onclick="removeMember(this)"
                        class="remove-member-button">팀원 삭제
                </button>
            </div>
            <p th:errors="*{members}" class="error"></p>
        </div>

        <button type="button" class="add-member-button" onclick="addMemberInput()">팀원 추가</button>
        <button type="submit" class="team-button">수정하기</button>
        <button th:onclick="|location.href='@{/}'|" type="button" class="home-button">홈으로</button>
    </form>
</div>
<script>
    let memberCount = 1;

    function addMemberInput() {

        var input = document.createElement("input");
        input.type = "text";
        input.name = "members";
        input.placeholder = "팀원의 아이디를 입력하세요.";
        input.className = "team-input";

        var container = document.getElementById("members-container");
        container.appendChild(input);

        memberCount++;
    }

    function removeMember(button) {
        var memberBox = button.parentElement;
        memberBox.remove();
    }
</script>
</body>
</html>